#layout {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    display: flex;
    position: relative;
    max-width: 1024px;
}

.left--layout {
    width: 250px;
    position: relative;
}

.right--layout {
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    padding-top: 37px;
}