#dashboard-page {
    width: 100%;
    height: auto;
}

#dashboard {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard--container {
    width: 100%;
    height: auto;
}

.dashboard--wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.dashboard--wrapper--left {
    width: 17%;
    /* background-color: blue; */
}
.dashboard--wrapper--right {
    width: 83%;
    padding: 0 0 0 10%;
    /* background-color: red; */
}

.dashboard--greeting {
    width: 100%;
    padding: 41px 0;
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
}

.dashboard--monitor {
    width: 100%;
    height: 84px;
    padding: 32px 0;
    /* background-color: red; */
    display: flex;
}

.dashboard--monitor--total-user,
.dashboard--monitor--total-role,
.dashboard--monitor--total-active {
    width: calc(100% / 3);
    height: 100%;
}

.dashboard--monitor--wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dashboard--monitor--photo {
    width: 84px;
    height: 100%;
    margin: 0 2% 0 0;
}

.dashboard--monitor--photo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dashboard--monitor--detail {
    margin: 0 0 0 2%;
}

.dashboard--monitor--detail-name {
    color: #ACACAC;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}

.dashboard--monitor--detail-status {
    color: #333;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
}