#dashnav {
    width: 200px;
    height: 100%;
    position: fixed;
    border-radius: 10px;
    background: #FFF;
    overflow-y: auto;
}

.dashnav--wrapper {
    width: 100%;
    height: 92%;
    /* padding: 10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15% 0 0 0;
}

.dashnav--school-title {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dashnav--school-title--image > img {
    width: 40px;
    height: auto;
}

.dashnav--school-title--text {
    color: #000;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}


.dashnav--header {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20%;
}

.dashnav--header--image > span {
    font-size: 30px;
    background-color: #e4e4e4;
}

.dashnav--header--text {
    color: #707070;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    font-family: 'Poppins';
    margin-left: 3%;
}

.dashnav--menu-list {
    width: 80%;
    margin-top: 20%;
    margin-left: -4%;
    margin-bottom: 20%;
}

.dashnav--menu-list--wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 0 3%;
    margin-bottom: 5%;
    cursor: pointer;
    transition: .8s;
}

.dashnav--menu-list--image {
    display: flex;
    align-items: center;
    transition: .8s;
}

.dashnav--menu-list--image > span {
    /* color: white;
    background-color: #000; */
    font-size: 22px;
    transition: .8s;
}

.dashnav--menu-list--text {
    color: #707070;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 12px;
    font-family: 'Poppins';
    margin-left: 3%;
    transition: .8s;
}

.dashnav--log-out {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 15%;
}

.dashnav--log-out--wrapper {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashnav--log-out--wrapper > div {
    display: flex;
    width: max-content;
    cursor: pointer;
}

.dashnav--log-out--image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -3%;
}

.dashnav--log-out--image > span {
    font-size: 18px;
}

.dashnav--log-out--text {
    width: fit-content;
    color: #707070;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 12px;
    font-family: 'Poppins';
    position: relative;
    left: 3%;
}