#login--page {
    width: 100%;
    background: var(--loginBG) no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px); /* Apply the blur effect to the background */
    width: 100%;
    height: 100%;
}

#login {
    width: 100%;
    height: 100VH;
    position: relative;
    /* padding: 5%; */
    background-image: var(--loginBG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    /* padding: 8% 0 2% 0; */
}
/* #login::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(to right, red, transparent 55%);
} */

.login--container {
    width: 80%;
    height: 100%;
    /* background-color: darkgreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login--wrapper {
    width: 100%;
    max-width: 1240px;
    /* height: 90%; */
    /* background-color: rgb(128, 164, 164); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.login--content-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* background-color: rgb(21, 178, 178); */
}

.login--greeting {
    width: 100%;
    color: #8D5CF6;
    font-family: Montserrat;
    /* padding: 0 0 25% 0; */
}

.login--header {
    font-size: 28px;
    color: #FFF;
    letter-spacing: 5px;
    font-family: Montserrat;
    letter-spacing: 0.20000000298023224px;
}

.login--desc {
    font-size: 10px;
    color: #FFF;
    margin-top: 12%;
    font-family: Montserrat;
}

.login--button {
    width: 100%;
    color: #FFF;
    margin-top: 12%;
    font-size: 13px;
    font-weight: 600;
}

.login--button-object {
    width: fit-content;
    padding: 3.5% 9%;
    background-color: #7f55ef;
    border-radius: 7px;
    cursor: pointer;
}

.login--content-right {
    width: 50%;
    /* height: 90%; */
    /* background-color: rgb(43, 126, 28); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.login--content-form {
    width: 150px;
    /* height: 300px; */
    background-color: rgba(225, 225, 225, 0.5);
    padding: 10%;
    border-radius: 25px;
}

.login--content-form--title {
    width: 100%;
    /* background-color: blue; */
}
.login--content-form--title > h4 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 22px;
    margin: 0;
}

.login--content-form--input-email,
.login--content-form--input-password {
    background-color: white;
    /* padding: 4% 2%; */
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    margin: 6% 0;
}
.login--content-form--input-email > input,
.login--content-form--input-password > input {
    width: 80%;
    background-color: transparent !important;
    border: none;
    outline: none;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 7px;
    padding: 6% 2%;
}
.login--content-form--input-email > span,
.login--content-form--input-password > span {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6% 2%;
}
.login--content-form--input-password > span:nth-child(3) > img {
    cursor: pointer;
}
.login--content-form--input-email > span > img,
.login--content-form--input-password > span > img {
    width: 60%;
    height: auto;
}

.login--content-form--forget--sign-up {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 6% 0; */
    /* background-color: red; */
}
.login--content-form--forget-password {
    display: flex;
    color: #5669FF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}
.login--content-form--sign-up {
    display: flex;
    color: #5669FF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

.login--content-form--remember-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 6% 0;
}
.login--content-form--remember-me > .login--content-form--remember-me--radio-button {
    width: 10%;
    padding: 1%;
    background-color: #5669FF;
    border-radius: 95px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: 0.6s;
}
.login--content-form--remember-me > .login--content-form--remember-me--radio-button > div {
    width: 50%;
    height: 7.5px;
    background-color: white;
    border-radius: 50%;
    transition: 0.6s;
    transform: translateX(100%);
    pointer-events: none;
    user-select: none;
}
.login--content-form--remember-me > span {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    font-size: 5px;
    padding: 0 0 0 5%;
    pointer-events: none;
    user-select: none;
}


.login--content-form--input-button {
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6% 0 0 0;
}

.login--content-form--input-button > div {
    width: 100%;
    color: #FFF;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login--content-form--input-button > div > div {
    width: 85%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.login--content-form--input-button > div > div > input {
    width: 100%;
    padding: 4.5% 0;
    background-color: #5669FF;
    border-radius: 7px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.login--content-form--input-button > div > div > input {
    font-size: 10px;
    color: white;
    cursor: pointer;
}
.login--content-form--input-button > div > div > div {
    left: 80%;
    height: 100%;
    position: absolute;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    
}
.login--content-form--input-button > div > div > div > span {
    width: fit-content;
    top: 0;
    right: 0;
    color: #3D56F0;
    background-image: radial-gradient(circle, white 0%, transparent 60%);
}